.header {
  margin-top: 2rem;
    background: linear-gradient(135deg, #5e089c, #192f6a, #75047b);
    background-size: 400% 400%;
    color: #c9c9c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border: #ee07ff solid 1px;
    animation: gradientAnimation 10s ease infinite;
    text-align: center;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .title {
    font-size: 3rem;
    font-weight: 700;
    color: #ff00ff;
    text-shadow: #ff00ff 2px 2px 2px, #000 4px 4px 4px;
  }
  